<h1>About me</h1>

<hr>

<div class="row">
  <div class="col-md-4">
    <%= image_tag "profile.jpeg", width:250, alt:'profile_image' %>
  </div>
  <div class="col-md-8">
      <p>Capicola cupim short loin, fatback filet mignon burgdoggen pancetta cow andouille shank t-bone ribeye doner chuck beef ribs. Andouille fatback porchetta, chicken pork loin landjaeger pancetta ground round ham strip steak bresaola brisket sausage shoulder. </p>

      <p>Tenderloin jerky alcatra cupim, tongue salami doner pancetta shankle short ribs burgdoggen leberkas meatball shoulder. Ham shoulder fatback, pork loin pancetta tongue shank turducken. Landjaeger shoulder jerky short ribs turkey buffalo rump ground round beef turducken capicola jowl. Jerky porchetta short ribs fatback.</p>
  </div>
</div>

