<h1>Would you like to workn together?</h1>

<hr>

<div class="row">
  <div class = "col-md-6">
    <h3>Office Address</h3>
    <p>102 Pike St Seattle, WA 98101</p>
    <h3>Phone</h3>
    <p><%= number_to_phone '123456789' %></p>
    <h3>Email</h3>
    <p><a href="" "email me">Email Me</a></p>
  </div>

  <div class='col-md-6'>
    <p><iframe src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d86067.96262622962!2d-122.39828658772294!3d47.61400368450472!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0x54906acdccf44db1%3A0x6da0c1f2d7a6736e!2sseattle+starbucks!3m2!1d47.614025!2d-122.3282469!5e0!3m2!1sja!2sjp!4v1530597464074" width="450" height="450" frameborder="0" style="border:0" allowfullscreen></iframe></p>
  </div>
</div>
